html {
    height:100%;
}
body {
    min-height:100%;
    background-color: #222222;
    font-family: "xos4 Terminus";
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer {
    display: flex;
}
.container {
    width: 300px;
    border-width: 3px;
    border-color: #6F6F6F;
    color: #ffffff;
}
.name {
    margin: 2px;
    padding-left: 7px;
    padding-right: 7px;
}
.item {
    display: block;
    text-decoration: none;
    color: #cccccc;
    margin: 2px;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.collapse .item {
    padding-left: 15px;
}
.item:hover {
    background-color: #101010;
}
.item img {
    display: none;
    vertical-align: middle;
    margin: 6px;
}
h1 {
    color: #888888;
    margin-top: 0;
    margin-right: 20px;
    /* margin-top: -10px; */
    vertical-align: top;
    align-self: flex-start;
}
.vline {
    width: 2px;
    background-color: #888888;
}
.clickable input {
    display: none;
}
.clickable .collapse {
    display: none;
}
.clickable input:checked ~ .collapse {
    display: block;
}
.name {
    cursor: pointer;
}
.name::before {
    content: "> ";
}
